<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Extended" version="3.6.0-pullrequest0553-0974" targetFramework="net461" />
  <package id="MonoGame.Extended.Graphics" version="3.6.0-pullrequest0553-0974" targetFramework="net461" />
  <package id="MonoGame.Extended.Tweening" version="3.6.0-pullrequest0553-0974" targetFramework="net461" />
</packages>