<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Extended" version="3.6.0-pullrequest0564-0958" targetFramework="net471" />
  <package id="MonoGame.Extended.Animations" version="2.0.0-alpha" targetFramework="net471" />
  <package id="MonoGame.Extended.Content.Pipeline" version="1.1.0" targetFramework="net45" />
  <package id="MonoGame.Extended.Entities" version="2.0.0-alpha" targetFramework="net471" />
  <package id="MonoGame.Extended.Graphics" version="2.0.0-alpha" targetFramework="net471" />
  <package id="MonoGame.Extended.Particles" version="2.0.0-alpha" targetFramework="net471" />
  <package id="MonoGame.Extended.Tiled" version="2.0.0-alpha" targetFramework="net471" />
  <package id="MonoGame.Extended.Tweening" version="3.6.0-pullrequest0559-0957" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
</packages>